body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 10%);
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: black;
    max-width: 400px;
    max-height: 620px;
    overflow: hidden;
    padding-bottom: 35px;
    /* border-radius: 20px; */
    box-shadow: 7px 7px 2px rgb(143, 143, 143);
    padding: 15px;
    /* padding-top: 0; */
}
#display{
    margin-top: 25px;
    width: 100%;
    padding: 30px;
    background-color: hsla(0, 0%, 0%, 50%);
    border: none;
    color: white;
    text-align: left;
    font-size: 40px;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button{
    padding: 25px;
    border-radius: 50%;
    color: white;
    background-color: hsla(0, 29%, 22%, 0.5);
    border: none;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
}
button:hover{
    background-color: hsla(0, 29%, 22%, 1);
}
.operator{
    background-color: hsla(27, 96%, 53%, 95%);
}
.operator:hover{
    background-color: hsla(27, 96%, 53%, 70%);
}

.white{
    background-color: #fff;
    color: black;
}
.white:hover{
    background-color: #ffffffde;
}

.pad{
    padding: 12px;
}


/* .scientificKeys{
   visibility: visible;
   display: flex;
   flex-wrap: wrap;
   background-color: black;
   position: absolute;
   top: 200px;
}

.scientificKeys buttons{
    padding: 35px;
} */